name: Build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@master

    - name: Generate xcodeproj
      run: swift package generate-xcodeproj

    - name: Run tests
      run: set -o pipefail && xcodebuild test -scheme swift-nio-mqtt-Package -destination name="iPhone 11" -enableCodeCoverage YES -derivedDataPath .build/derivedData | xcpretty
      
    - name: Install Slather
      run: gem install slather --no-document

    - name: Run Slather
      run: slather coverage -x --output-directory report --build-directory .build --scheme swift-nio-mqtt-Package --binary-basename MQTTCodec --binary-basename NIOMQTTClient swift-nio-mqtt.xcodeproj

    - name: Codacy Coverage Reporter
      run: bash <(curl -Ls https://coverage.codacy.com/get.sh)
