name: Lint

on:
  pull_request:
    branches:
      - master

jobs:
  lint:
     
    runs-on: ubuntu-latest
    
    name: "Run Danger"
    steps:
      - uses: actions/checkout@v1
      - name: Danger
        uses: docker://danger/swift@2.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
